<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link href="/bootstrap5/css/bootstrap.css" rel="stylesheet">
<link href="/bootstrap5/css/login.css" rel="stylesheet">
</head>
<body>
	<div
		class="container d-flex align-items-center justify-content-center min-vh-100">
		<div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
			<div class="card-body">
				<div class="text-center mb-4">
					<div class="logo-container">
						<img src="/images/tsibLogo.png" alt="TSIB Logo" class="img-fluid">
					</div>
				</div>
				<form>
					<div class="mb-3">
						<label for="email" class="form-label">帳號</label> <input
							type="email" class="form-control" id="email"
							aria-describedby="emailHelp" required>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">密碼</label> <input
							type="password" class="form-control" id="password" required>
					</div>

					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-primary w-100">登入</button>
						<button type="button" class="btn btn-secondary w-100">離開</button>
					</div>
				</form>

			</div>
		</div>
	</div>

	<script src="/bootstrap5/js/bootstrap.bundle.js"></script>

</body>
</html>
